/* CSS cho nút điều hướng */
.nav-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}
.nav-button:hover {
  background-color: #0056b3;
}
/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  text-align: left;
}

.header h1 {
  margin: 0;
}

.header p {
  font-size: 14px;
}

.nav-bar {
  display: flex;

  background-color: #444;
  padding: 10px 0;
  text-align: left;
}
.nav-bar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}
.nav-bar a:hover {
  color: #ccc;
}

.filters {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  align-items: center;
}

.filter {
  display: flex;
  align-items: center;
}

.filter select {
  margin-left: 5px;
  padding: 5px;
}

.search {
  padding: 5px;
  font-size: 16px;
}

.course-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.course-card {
  background-color: #fff;
  border: 1px solid #ddd;
  width: 200px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.course-card img {
  width: 100%;
  border-radius: 8px;
}

.course-card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.course-card p {
  color: #888;
}

.course-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.course-card button:hover {
  background-color: #0056b3;
}
